* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary-color-template :#035f20;
    --second-color-template :#b8ad15;

    --line :#e7e7e7;
}

body {
    font-family: "Poppins",sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1440px !important;
}
/*  */
a {
    color: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: unset;
}

p {
    margin-bottom: 0 !important;
}

h2 {
    text-align: center;
}

.line-full {
    flex: 1;
    height: 2px;
    background-color:  #e7e7e7;
}

.primary-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-second {
    font-weight: 600;
    padding: 10px 15px;
    font-size: 30px;
    line-height: 24px;
}


/*  */


.sologan {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    user-select: none;
    cursor: pointer;
}

.logo-box {
    display: flex;
    justify-content: center;
}

.logo {
    border: 1px solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #035f20;
}

.icon-link-top i{
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    background-color: var(--primary-color-template);
}

.slider-right > div{
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.slider-right > div:hover {
    background: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
    cursor: pointer;
}

.thumnail {
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin-top: 50px;
    display: flex;
    justify-content: end;
    position: relative;
    height: 650px;
}

.thumnail img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    z-index: -2;
}

.thumnail > div {
    width: 850px;
    /* background-color: aqua; */
    margin-top: 80px;
    margin-right: 20px;
    text-align: center;
    
}

.thumnail > div > h1 {
    font-size: 70px !important;
    font-weight: 700;
    z-index: 10;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
.thumnail > div > p {
    color: white ;
    text-align: left;
    margin-left: 58px;
    margin-top: 30px;
}

.company-name {
    color: var(--second-color-template) !important;
}


.layer1,.layer2,.layer3 {
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.layer2 {
    gap: 20px;
    margin-top: -57px;
}

.layer3 {
    gap: 20px;
    margin-top: -57px;
} 


.layer-item {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 300px;
    height: 300px;
    background-color: #b8ad15;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    
}

.layer-item img{
    position: absolute;
    filter: brightness(70%);
    z-index: -2;
}

.layer-item:hover {
    filter: brightness(120%);
}

.layer-item-text {
    position: absolute;
    bottom: 50px;
    left:50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}



.contact-list-icon {
    position: absolute;
    right: 25px;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-icon-box {
    cursor: pointer;
}

.contact-icon-box.sms,.contact-icon-box.local {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--second-color-template);
    border-radius: 50%;
    color: white;
    font-size: 35px;
}

.contact-icon-box.local {
    background-color: var(--primary-color-template);
}
/*  */


.big-circle {
    position: relative;
    padding: 120px;
    border-radius: 100%;
    border: 3px solid var(--primary-color-template);
    transition: transform 0.5s ease-in;
}

.small-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    /* border: 1px solid var(--primary-color-template); */
}

.small-circle img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: contain;
    background-color: #035f20;
}

.circle-text {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--second-color-template);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.circle-text.item1{
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.circle-text.item2{
    top: 45px;
    right: 4%;
}

.circle-text.item3{
    top:50%;
    transform: translateY(-50%);
    right: -50px;
}

.circle-text.item4{
    bottom:  45px;
    right: 4%;
}

.circle-text.item5{
    bottom:  -50px;
    left: 50%;
    transform: translateX(-50%);
}

.circle-text.item6{
    bottom: 45px;
    left: 4%;
}

.circle-text.item7{
    top:50%;
    transform: translateY(-50%);
    left: -50px;
}

.circle-text.item8{
    top:  45px;
    left: 4%;
}

/*  */
.why-choose-list {
    border-left: 6px solid var(--second-color-template);
}
.why-choose-list.reverse {
    border-left: none;
    border-right: 6px solid var(--second-color-template);
    margin-top: 85px;
}


.mini-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--second-color-template);
}

.why-choose-item {
    margin-left: -15px;
    display: flex;
    margin-top: 40px;
    /* background-color: aquamarine; */
    align-items: center;
    gap: 10px;
}

.why-choose-item.reverse{
    justify-content: end;
    margin-right: -15px;
}

/*  */
.seo-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding: 10px 30px;
    padding-left: 0;
    /* width: 10%; */
}

.seo-key {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    background-color: var(--second-color-template);
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
}

.seo-key-box {
    /* width: 90%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
/*  */

.slick-arrow {
    display: none !important;
}
.news {
    display: flex;
    gap: 10px;
    
}

.news-slider{
    width: 30%;
    cursor: pointer;
}

.news-hot {
    width: 70%;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.news-slider-item {
    margin-top: 10px;
    position: relative;
}

.news-slider-item img,
.news-slider-item video {
    height: 140px;
}

.news-slider-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    padding: 8px;
    color: white;
    text-align: center;

    -webkit-line-clamp: 2;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-slider-text.hot {
    height: 100px;
    font-size: 20px;
}

.news-hot video {
    object-fit: cover;
    height: 446px;
}

.news-slider-item video {
    object-fit: cover;
    height: 136px !important;
}

/*  */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer h2{
    font-size: 32px;
    font-weight: 600;
    /* text-align: center; */
}

.footer-left,.footer-mid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-left a{
    padding: 15px;
    padding-left: 0;
}

.footer-right {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-right input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color-template);
}

.footer-right > div > a{
    background-color: var(--primary-color-template);
    color: white;
    padding: 10px 20px;
}

.footer-left i,
.footer-mid i {
    color: var(--primary-color-template);
}

.footer-left a:hover,
.footer-mid a:hover{
    color: var(--primary-color-template);
    font-weight: 600;
}