* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary-color-template :#035f20;
    --second-color-template :#b8ad15;

    --font-heading: 'Bungee', cursive;

    --text-shadow:2px 2px 2px rgba(212, 4, 253, 0.5),0px 3px 5px rgba(19, 219, 245, 0.5);
    --line :#e7e7e7;
}

body {
    font-family: "Poppins",sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1440px !important;
}
/*  */
a {
    color: unset;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: unset;
}

p {
    margin-bottom: 0 !important;
}

h2 {
    text-align: center;
}

.line-full {
    flex: 1;
    height: 2px;
    background-color:  #e7e7e7;
}

.primary-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-second {
    font-weight: 600;
    padding: 10px 15px;
    font-size: 30px;
    line-height: 24px;
}


/*  */
.header {
    background-color: var(--primary-color-template);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sologan {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    user-select: none;
    cursor: pointer;
}

.logo-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10px;
}



.logo {
    border: 1px solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #035f20;
}

.icon-link-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-link-top i{
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
    font-size: 22px;
}



.slider {
    position: relative;
}



.menu-right {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 99;
}
/*  
.slider-right > div{
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.slider-right > div:hover {
    background: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
    cursor: pointer;
} */


.major {
    color: var(--primary-color-template) !important;
    font-family: 'Bungee', cursive;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    text-shadow: 2px 2px 2px rgba(212, 4, 253, 0.5),0px 3px 5px rgba(19, 219, 245, 0.5);

}

.company-name {
    color: var(--primary-color-template) !important;
    font-family: 'Bungee', cursive;
    font-size: 90px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(212, 4, 253, 0.5),0px 3px 5px rgba(19, 219, 245, 0.5);
}















.thumnail {
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    justify-content: end;
    position: relative;
    height: 750px;
    overflow: hidden;
}

.thumnail img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-position: bottom;
    /* scale: 0.6; */
}


.img5 {
    left: -185px;
    bottom: -168px;
    scale: 2;
}


.thumnail > div {
    width: 850px;
    /* background-color: aqua; */
    margin-top: 80px;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    
}


.thumnail > div > p {
    color:black ;
    text-align: left;
    margin-left: 58px;
    font-weight: 500;
    margin-top: 30px;
}



.bg-danhmuc {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(120%);
}




.layer1,.layer2,.layer3 {
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.layer2 {
    gap: 20px;
    margin-top: -57px;
}

.layer3 {
    gap: 20px;
    margin-top: -57px;
} 


.layer-item {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 300px;
    height: 340px;
    background-color: #b8ad15;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    
}

.layer-item img{
    position: absolute;
    filter: brightness(70%);
    z-index: -2;
}

.layer-item:hover {
    filter: brightness(120%);
}

.layer-item-text {
    position: absolute;
    bottom: 50px;
    left:50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}



.contact-list-icon {
    position: absolute;
    right: 25px;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-icon-box img{
    scale: 1.2;
    cursor: pointer;
}

/* .contact-icon-box.sms,.contact-icon-box.local {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--second-color-template);
    border-radius: 50%;
    color: white;
    font-size: 35px;
}

.contact-icon-box.local {
    background-color: var(--primary-color-template);
} */
/*  */


.big-circle {
    position: relative;
    border-radius: 100%;
    /* border: 3px solid var(--primary-color-template); */
    transition: transform 0.5s ease-in;
    padding: 80px;
}

.small-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    /* background-color: #b8ad15; */
    /* border: 1px solid var(--primary-color-template); */
}
.bg-small-circle {
    position: absolute;
    top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    z-index: 2;
    /* top: 50%; */
    /* transform: translate(-50%,-50%); */
    /* width: 100%; */
    /* z-index: -6; */
}

.logo-small-circle {
    position: absolute;
    top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 230px;
    z-index: 3;
    border-radius: 50%;
}

.mid-circle {
    padding: 90px;
    /* background-color: #b8ad15; */
    border-radius: 50%;
    position: relative;
}

.mid-circle > img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.circle-text > i {
    color: gray;
    font-size: 60px;
}



.circle-text {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.circle-text > img {
    width: 100%;
}

.circle-text.item1{
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.circle-text.item2{
    top: 45px;
    right: 4%;
}

.circle-text.item3{
    top:50%;
    transform: translateY(-50%);
    right: -50px;
}

.circle-text.item4{
    bottom:  45px;
    right: 4%;
}

.circle-text.item5{
    bottom:  -50px;
    left: 50%;
    transform: translateX(-50%);
}

.circle-text.item6{
    bottom: 45px;
    left: 4%;
}

.circle-text.item7{
    top:50%;
    transform: translateY(-50%);
    left: -50px;
}

.circle-text.item8{
    top:  45px;
    left: 4%;
}

/*  */
.why-choose-list {
    border-left: 6px solid var(--second-color-template);
}
.why-choose-list.reverse {
    border-left: none;
    border-right: 6px solid var(--second-color-template);
    margin-top: 85px;
}


.mini-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--second-color-template);
}

.why-choose-item {
    margin-left: -15px;
    display: flex;
    margin-top: 40px;
    /* background-color: aquamarine; */
    align-items: center;
    gap: 10px;
}

.why-choose-item.reverse{
    justify-content: end;
    margin-right: -15px;
}

/*  */
.seo-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding: 10px 30px;
    padding-left: 0;
    /* width: 10%; */
}

.seo-key {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    background-color: var(--second-color-template);
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
}

.seo-key-box {
    /* width: 90%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
/*  */

.slick-arrow {
    display: none !important;
}
.news {
    display: flex;
    gap: 10px;
    
}

.news-slider{
    width: 30%;
    cursor: pointer;
}

.news-hot {
    width: 70%;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.news-slider-item {
    margin-top: 10px;
    position: relative;
}

.news-slider-item img,
.news-slider-item video {
    height: 140px;
}

.news-slider-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    padding: 8px;
    color: white;
    text-align: center;

    -webkit-line-clamp: 2;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-slider-text.hot {
    height: 100px;
    font-size: 20px;
}

.news-hot video {
    object-fit: cover;
    height: 446px;
}

.news-slider-item video {
    object-fit: cover;
    height: 136px !important;
}

/*  */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer h2{
    font-size: 32px;
    font-weight: 600;
    /* text-align: center; */
}

.footer-left,.footer-mid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-left a{
    padding: 15px;
    padding-left: 0;
}

.footer-right {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-right input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color-template);
}

.footer-right > div > a{
    background-color: var(--primary-color-template);
    color: white;
    padding: 10px 20px;
}

.footer-left i,
.footer-mid i {
    color: var(--primary-color-template);
}

.footer-left a:hover,
.footer-mid a:hover{
    color: var(--primary-color-template);
    font-weight: 600;
}



.cate-responsive {
    display: none;
  
}

.down-up {
    display: inline-block;
    transition: transform 0.25s ease-in;
}
.rotate {
    transform: rotate(180deg);
}


.cate-responsive.show {
    display: block;
}

.menu{
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 20px;
    width: 350px;
    background-color: var(--primary-color-template);
    transition: 0.5s;
    transform: translateX(350px);
    z-index: 999;
}

.menu-overlay{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    z-index: 998;
    display: none;
}

.cate-list-responsive li{
    border-bottom: 1px solid var(--line);
    transition: 0.3s;
    /*text-align: center;*/
    padding-left: 25px;
}
.cate-list-responsive li:hover{
    padding-left: 35px;
    background: #FBF1E6;

}
.cate-list-responsive {
    list-style: none;
}
.cate-list-responsive li:hover a{
   color: #000000;

}
.cate-list-responsive li a{
    display: block;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.bars {
    margin-right: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
    color: var(--primary-color-template);
}


#open{
    display: none;
}
.open{
    height: 80px;
    width: 80px;
}
.open i{
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 25px;
    padding: 15px 15px;
    color: white;
    z-index: 1000;
}
#open:checked ~ .menu{
    transition: 0.5s;
    transform: translateX(0);
}

#open:checked ~ .menu-overlay {
    display: block;
}

#open:checked ~ .open i{
    transition: 0.5s;
    margin-left: 190px;
    position: absolute;
}